@model ImageUploadModel

<div class="mt-5">s</div>
<div class="mt-3">s</div>

<form asp-action="UploadImage" enctype="multipart/form-data">
    <input type="file" name="ImageFile" />
    <input type="submit" value="Upload" />
</form>